
name: cdk

on:
  push:
    branches:
        - master
  pull_request:
    branches:
        - master
  # 手動実行を許可する
  workflow_dispatch:

jobs:
  aws_cdk:
    runs-on: ubuntu-latest
    env: 
      AWS_REGION: "ap-northeast-1"
    
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Assume Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }} 
          aws-region: ${{ env.AWS_REGION }}
          
      - name: CDK Diff Check
        # masterブランチへのpull_requestの場合のみ実行
        if: github.event_name == 'pull_request' && github.base_ref == 'master'
        run: npm run cdk:diff

      - name: CDK Deploy
        # masterブランチへのpushの場合のみ実行
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: npm run cdk:deploy

      - name: CDK Destroy
        # 手動実行の場合のみ実行
        if: github.event_name == 'workflow_dispatch'
        run: npm run cdk:destroy
